.navbar {
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  transition: 0.1s all ease-in-out;
  padding: 40px 180px;
}

.navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.navbar ul li {
  cursor: pointer;
  position: relative;
  list-style: none;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  margin: 0 20px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.1s all ease-in-out;
}

.navbar li:hover a {
  color: #00aa5d;
}

.sticky {
  background-color: #151b30;
}

.burger {
  display: none;
  position: absolute;
  right: 50px;
}

@media (max-width: 1440px) {
  .navbar {
    padding: 25px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
    padding: 10px;
  }

  .navbar ul {
    margin: 0;
  }

  .navbar ul li a {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 30px;
  }
  .navbar ul {
    display: none;
  }
  .burger {
    display: block;
  }
}
